#map {
  position: absolute;
  width: 100%;
  height: 100%;
}
#basemap {
	position: absolute;
	left: 0;
	top: 0;
	/*box-sizing: content-box;
	z-index: 1;*/
  width: 100%;
  height: 100%;
}
#interface {
	width: 100%;
	height: 100%;
	z-index: 2;
	position: absolute;
	pointer-events: none;
	font-family: 'Roboto Mono', monospace;
	/*font-weight: 300;*/
	font-size: 12px;
	/*line-height: 14px;*/
	/*text-align: center;*/
	/*overflow: hidden;*/
}

#sidebar {
	/*position: absolute;*/
	pointer-events: auto;
	box-sizing: border-box;
	/*left: 0;*/
	width: 320px;
	/*height: 100%;*/
	box-shadow: 2px 3px 18px 0px rgba(0,0,0,0.2);
	/*padding: 32px;*/
	display: flex;
	flex-direction: column;
	align-content: space-between;
	background-color: white;
}

#graphs {
	flex: 1;
}

#chartplot {
	width: 256px;
	height: 256px;
	overflow: visible;
	/*background-color: rgba(0, 0, 0, 0.05);*/
	margin-bottom: 32px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	box-sizing: border-box;
	/*height: 256px;*/
}

#chartplot-container {
	margin-bottom: 32px;
}

.chartplot-controllers {
	/*width: 100%*/
	display: flex;
	align-content: space-between;
	margin-bottom: 5px;
}
.chartplot-controllers label {
	margin-right: 4px;
}
.chartplot-controllers select {
	flex-grow: 1;
	/*font-family: inherit;*/
	overflow: hidden;
}
#timeline-container {
	display: flex;
	align-items: flex-end;
	/*flex-wrap: wrap;*/
}
#timeline-container button {
	flex-grow: 1;
	padding: 1px 4px;
	/*width: 42px;*/
	/*border-radius: 4px;*/
	box-sizing: border-box;
	/*margin: 0;*/
}


.ring {
	fill: none;
	stroke-width: 0.5px;
}

.coverage {
	/*fill: rgba(230, 230, 230, 0.6);*/
	/*stroke: black;*/
	/*stroke-width: 93.3px;*/
	/*stroke-linejoin: round;*/
}

#pattern line {
	stroke: black;
	stroke-width: 1px;
}

/* Animations */

.filtred .ring {
	stroke: rgb(200, 200, 200) !important;
}

.filtred .circle {
	/*fill: rgb(200, 200, 200) !important;*/
	opacity: 0 !important;
}

.circle, .halo {
	transition: opacity 0.5s, fill 0.5s, r 0.5s;
}
.ring {
	transition: opacity 0.5s, stroke 0.5s, stroke-width 0.5s, r 0.5s;
}
