@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Mono:400,700);

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a, br,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section, svg{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*a {
  text-decoration: none;
}
a:link {
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  color: #888;
  text-decoration: underline;
}*/

body {
  background-color: white;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Slab", "Lucida Sans Unicode", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: black;
  overflow: hidden;
  /*box-sizing: content-box;*/
}
#basemap {
	position: absolute;
	left: 0;
	top: 0;
	/*box-sizing: content-box;
	z-index: 1;*/
  width: 100%;
  height: 100%;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hex {
  stroke: white;
}

#popup {
  position: absolute;
  background-color: #263238;
  border-radius: 2px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  color: #90a4ae;
  padding: 8px;
  padding-top: 6px;
  pointer-events: none;
}
#location {
  /*height: 18px;*/
  /*border-bottom: 1px solid #455a64;*/
  /*margin-bottom: 8px;*/
  /*box-sizing: border-box;*/
}
#popup div:last-child {
  /*border-bottom-width: 0px;*/
}
#routes {
  max-width: 176px;
}
.routes_type {
  /*min-height: 16px;*/
  /*margin-bottom: 4px;*/
  padding-left: 16px;
}
.routes_logo {
  float: left;
  width: 16px;
  height: 16px;
  /*background: #37474f;*/
  margin: 0 0 4px -16px;
}
.t_logo {
  fill: #90a4ae;
}
.route_num {
  float: left;
  background: #37474f;
  min-width: 16px;
  height: 16px;
  text-align: center;
  margin: 0 0 4px 4px;
}

.railroad, .railroadpad {
  fill: none;
  stroke-width: 3;
  stroke-linecap: butt;
  stroke-linejoin: round;
}

.railroad {
  stroke: #263238;
  stroke-dasharray: 18,18;
}
.railroadpad {
  stroke: black;
}

.river, .sewer {
  fill: none;
  stroke: #0D1113;
  stroke-width: 3;
  stroke-linecap: butt;
  stroke-linejoin: round;
}
.sewer {
  stroke-dasharray: 8,8;
}

.link {
  fill: none;
  stroke: #263238;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.area_node {
  fill: #263238;
  opacity: .66;
}

.node {
  fill: white;
}
/*.road, .rail {
  stroke: #546e7a;
}

.road {
  stroke-width: 1.5;
}*/

.road {
  fill: none;
  stroke: #546e7a;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cross {
  fill: none;
}

.rail {
  fill: none;
  stroke: #546e7a;
  stroke-width: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.railpad {
  fill: none;
  stroke: #192125;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.tram_rail {
  fill: none;
  stroke: #546e7a;
  stroke-width: 0.5;
  stroke-linecap: butt;
}

.tram_stop {
  fill: none;
  stroke: #546e7a;
  stroke-width: 1;
  stroke-linecap: butt;
}

.tram_pad {
  fill: none;
  stroke: #192125;
  stroke-width: 1;
  stroke-linecap: butt;
}

.bus {
  fill: none;
  stroke: #546e7a;
  stroke-width: 1.5;
}
